body {
    background: radial-gradient(circle, rgba(44,182,125,1) 0%, rgba(148,161,178,1) 40%, rgba(22,22,26,1) 100%);
}
footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
  }
  #footer {
    text-decoration: none;
    color: #fffffe;
  }
  #footer:visited {
    text-decoration: none;
    color: #fffffe;
  }